modules = ["java-graalvm22.3", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["android-tools", "unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SystemStatus"

[[workflows.workflow]]
name = "SystemStatus"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo 'Replit build is disabled by user request'"
